:root {
  --md-text-font: "Noto Sans SC", "Microsoft YaHei", sans-serif;
}

.md-header {
  background: linear-gradient(110deg, #182848, #4b6cb7);
}

.md-typeset h1 {
  font-weight: 700;
}

.md-post--excerpt {
  border-bottom: 1px solid var(--md-default-fg-color--lightest);
  padding-bottom: 1.5rem;
}

